.serices
{
    min-height: 100vh;
    display: flex;

}
.serices .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.serices .left
{
    flex: 1;

}
.serices .left h1
{
    margin: 0;
    color: var(--orange);
    font-weight: bold;
    font-size: 6rem;
    position: relative;
}
.serices .left h1::before
{
    content: 'services';
    position: absolute;
    left: 0;
    top: 20px;
    font-size: 6rem;
    color: var(--gray);
    opacity: 0.2;
    z-index: -2;
    
}
.serices .left p 
{
    font-weight: 100;
    font-size: 14px;
    margin-top: 10px;
}
.n-button
{
    margin-top: 40px;
}
.serices .right 
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serices .right .card 
{
    border: 5px solid var(--orange);
    max-width: 300px;
    min-height: 300px;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    cursor: pointer;
}
.serices .right .card:hover
{
    color: white;
}
.serices .right .card::before
{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 0%;
    width: 0%;
    background-color: var(--orange);
    z-index: -1;
    transition: 0.5s ease-in-out;
}
.serices .right .card:hover:before
{
    width: 100%;
    height: 100%;
}
.serices .right .card  h1 
{
    margin: 0;
}
.serices .right .card  ul 
{
    text-align: start;
    list-style: square;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
.serices .right .card  ul li 
{
    flex-basis: 45%;
}
.serices .right .card  ul li:hover
{
    color: var(--gray)
}
.serices .blur::before
{
    width: 20%;
    height: 30%;
}
.serices .blur::after
{
    width: 20%;
    height: 30%;
}

@media(max-width:991px)
{
    .serices
    {
        margin-top: 500px;
    }
    .serices .container
    {
        flex-direction: column;
        gap: 100px 0;
        text-align: center;
    }
    .serices .left h1
    {
        font-size: 4rem;
    }
    .serices .left h1::before
    {
        font-size: 4rem;
        top:15px;
        left: 50%;
        transform: translateX(-50%);
    }
}