.navbar .container
{
    display: flex;
    justify-content: space-between;
    height: 10vh;

}
.navbar .n-left
{
    flex: 1;
    display: flex;
    align-items: center;
    gap:2rem
}
.navbar .n-left .n-name
{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 4px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.5px var(--orange);
    position: relative;
}
.navbar .n-left .n-name::before
{
    content: 'Ahmed';
    position: absolute;
    left: 0;
    width: 0%;
    overflow: hidden;
    -webkit-text-fill-color: red;
    animation: text 4s forwards infinite ease-in-out;
    transition: 0.5s;
}
@keyframes text 
{
    50% 
    {
        width: 100%;

    }
    100% 
    {
        width: 0%;

    }
}
.navbar .n-right
{
    display: flex;
    flex: 1;
    align-items: center;
    font-weight: 400;
    justify-content: center;

}
.n-list 
{
    flex: 10;
}
.n-list > ul 
{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    transition: 0.5s;
}
.n-list > ul li
{
    transition: 0.5s ease-in-out;
}
.n-list > ul li:hover,
.active
{
    color: var(--orange);
    cursor: pointer;
}
.n-list > ul li svg
{
    display: none;
}
@media(max-width:991px)
{
    .n-list 
    {
        position: fixed;
        left: 50% ;
        bottom: 20px ;
        transform: translateX(-200%);
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.596);
        border-radius: 50px;
        z-index: 2222222222;
        animation: fade-nav-in 1s ease 1 forwards;
        transition: 0.5s;

    }
    .n-list > ul li span
    {
        display: none;
    }
    .n-list > ul li svg
    {
        display: block;
        font-size: 30px;
    }

}
@media(max-width:767px)
{
    
    .navbar .container
    {
        display: flex;
        justify-content: space-between;
    }
    .navbar .n-left
    {
        justify-content: space-between;
        flex: 1;
    }
    .navbar .n-left .n-name
    {
        font-size: 2rem;
    }
}

@keyframes fade-nav-in {
    to {
      transform: translateX(-50%);
      opacity: 1;
    }
  }