/* Start Rules  */
:root {
    --yellow: #F5C32C;
    --orange: #FCA61F;
    --balck: #242D49;
    --gray: #788097;
    --blueCard: #DDF8FE;
    --purple: rgb(238 210 225);
    --boxShadow: 0px 19px 60px rgb(0 0 0 /8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08)
}

@font-face {
    font-family: Gumela;
    src: url('../src/Font/Gumela.ttf');
}

* {
    font-family: 'Gumela';
    font-weight: normal;
    font-size: 20px;
}
body {
    margin: 0;
   
}
ul 
{
    list-style: none;
}
a
{
    text-decoration: none;
}
.App {
    padding: 0.5rem 0.5rem;
    overflow: hidden;
    color: var(--balck);
}
.button
{
    border-radius: 34px;
    border: none;
    border: 1px solid #Fdc50f;
    font-size: 16px;
    padding: 11px 26px;
    background: linear-gradient(180deg,#Fdc50f 26.71%,#Fb982f 99.36%);
    box-shadow: 0 20px 24px 3px rgba(251, 161, 40, 0.42);
    white-space: nowrap;
    transition: 0.5s  ease-in-out;
    cursor: pointer;
}
.button:hover
{
    background: white;
    color: var(--orange);
    border: 1px solid var(--orange);
}
.container
{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small  */
@media(min-width:768px)
{
    .container
    {
        width: 750px;
    }
}
/* Medium  */
@media(min-width:992px)
{
    .container
    {
        width: 970px;
    }
}
/* Large  */
@media(min-width:1200px)
{
    .container
    {
        width: 1170px;
    }
}
.blur::before
{
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: #007aff;
    filter: blur(212px);
    z-index: -1;
}
.blur::after
{
    content: '';
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: #007aff;
    filter: blur(212px);
    z-index: -1;
}

::-webkit-scrollbar
{
    background-color: var(--orange);
    width: 15px;
}
::-webkit-scrollbar-thumb
{
    background-color: var(--gray);
    border-radius: 50px;
}
::-webkit-scrollbar-corner
{
    background-color: blue;
}
::-webkit-scrollbar-track
{
    background-color:var(--orange);
}
/* End Rules  */
